*
!contracts
!contracts/lib
!contracts/src
!contracts/script
!contracts/test
!contracts/foundry.toml
!contracts/remappings.txt
contracts/out
contracts/cache
!crates
!Cargo.toml
!Cargo.lock
!rust-toolchain
!docker
!justfile
!data
!test_contracts
test_contracts/out
test_contracts/cache
!scripts
target/
.git/
.env
*.log