### General settings ###
RUST_LOG=debug

### SP1 Configuration settings ###
# one of:
# network - uses Succinct prover network.
# local - runs local prover. NOTE: local proofs require significant amount of ram
#         https://docs.succinct.xyz/generating-proofs/basics.html
SP1_PROVER=network
# If SP1_PROVER=network, set to your whitelisted private key. For more information, see:
# https://docs.succinct.xyz/prover-network/setup.html#key-setup
SP1_PRIVATE_KEY=

### Beacon state reader settings ###
# one of:
# file - reads from folder, expects something else to put beacon state and header there
#        BS_FILE_STORE must be set
# rpc -  reads from beacon state RPC. CONSENSUS_LAYER_RPC and BEACON_STATE_RPC must be set
#       
# rpc_cached - reads from beacon state RPC, but uses a file folder as a read-through cache.
#              BS_FILE_STORE, CONSENSUS_LAYER_RPC and BEACON_STATE_RPC must be set
BS_READER_MODE=
# omit if not using file cache (i.e. mode = rpc)
BS_FILE_STORE=

### EVM config ###
EVM_CHAIN=
CHAIN_ID=
PRIVATE_KEY=
CONTRACT_ADDRESS=

### API Endpoints ###
EXECUTION_LAYER_RPC=
CONSENSUS_LAYER_RPC=
BEACON_STATE_RPC=
ETHERSCAN_API_KEY=
ETHERSCAN_URL=