# Cargo build
**/target

# Cargo config
.cargo

# Profile-guided optimization
/tmp
pgo-data.profdata

# MacOS nuisances
.DS_Store

# Proofs
**/proof-with-pis.json
**/proof-with-io.json

# Env
envs
.env
.env.network.*

# IDE and dev
.vscode
.idea
node_modules

# Python
__pycache__

# Generated
elf
temp

#testing
**/test.log